# Ignoring unecessary folders to save space
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs
[Mm]emoryCaptures/
Destiny Delivered/UserSettings/Layouts/default-2022.dwlt
Destiny\ Delivered/UserSettings/

# Gradle cashe directory
.gradle
